<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Registro</h2>
  
  <ion-item>
    <ion-input 
      label="Correo electrónico" 
      type="email"
      [(ngModel)]="email"
      placeholder="ejemplo@correo.com">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input 
      label="Contraseña" 
      type="password" 
      [(ngModel)]="password"
      placeholder="Mínimo 6 caracteres">
    </ion-input>
  </ion-item>
    <ion-button expand="block" color="success" (click)="register()">
    Crear cuenta
  </ion-button>

  <ion-button expand="block" fill="clear" color="medium" routerLink="/login">
    Ya tengo una cuenta
  </ion-button>
</ion-content>


  <!-- Para depurar: muestra lo que escribes -->